---
layout: default
title: Tags
---

<style>

body {
  margin: 0;
  background: #222;
  min-width: 960px;
}

rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 2.5px;
}

</style>
<body>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var width = Math.max(960, innerWidth),
    height = Math.max(500, innerHeight);

var i = 0;

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.append("rect")
    .attr("width", width)
    .attr("height", height)
    .on("ontouchstart" in document ? "touchmove" : "mousemove", particle);

function particle() {
  var m = d3.mouse(this);

  svg.insert("circle", "rect")
      .attr("cx", m[0])
      .attr("cy", m[1])
      .attr("r", 1e-6)
      .style("stroke", d3.hsl((i = (i + 1) % 360), 1, .5))
      .style("stroke-opacity", 1)
    .transition()
      .duration(2000)
      .ease(Math.sqrt)
      .attr("r", 100)
      .style("stroke-opacity", 1e-6)
      .remove();

  d3.event.preventDefault();
}

</script>


<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Tags</h1>

      <div class="archive-cloud tags-cloud">
        {% for tag in site.tags %}
          <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }} ({{ tag[1].size }})</a>
        {% endfor %}
      </div>

      <hr />

      <div class="archive-posts-list tag-posts-list">
      {% for tag in site.tags %}
        <span class="fa fa-book" aria-hidden="true" id="{{ tag[0] }}">
          <span class="text">{{ tag[0] }}</span>
        </span>

        <ul class="posts-list">
        {% for post in tag[1] %}
          <li><a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<small class="post-date">{{ post.date | date:"%Y-%m-%d" }}</small></a></li>
          {% if post.subtitle %}
            -<a class="post-subtitle">{{ post.subtitle }}</a>
          {% endif %}
        {% endfor %}
        </ul>
      {% endfor %}
      </br></br>
      </div>
    </div>
  </div>
</div>
